<div class="widget widget-cfa">
    <h3>Graduate Research Assistant</h3>
    <p>
        <strong>
            <a href="/cosinelab.org/files/PhD_Recuit_Cosine_Lab_CSU.pdf" target="_blank" rel="noopener">
                Call for Application:
            </a>
        </strong> 
        One to two graduate assistant positions are available in COSINE Lab starting from Spring 2026 or Fall 2026. If you’re passionate about complex systems, network science, or data-driven design, we’d love to hear from you! To apply, please email Dr. Xiao at <a href="mailto:yinshuang.xiao@colostate.edu"><span style="color:#0055aa; text-decoration:underline">Yinshuang.Xiao@colostate.edu</span></a> with the subject line “GRA Application to Cosine Lab.” and include your CV, transcripts, and a brief summary of your research interests and experience. We’re excited to welcome new Cosiners to our team!
    </p>

        
  </div>
