<div class="widget widget-cfa">
    <h3>Openings</h3>
    <p>
        <strong>
            Ph.D. Positions:
        </strong> 
        One to two fully funded Ph.D. positions are available in COSINE Lab starting from Spring 2026 or Fall 2026. If you’re passionate about complex systems, network science, or data-driven design, we’d love to hear from you! To apply, please email me at <a href="mailto:yinshuang.xiao@colostate.edu"><span style="color:#0055aa; text-decoration:underline">Yinshuang.Xiao@colostate.edu</span></a> with the subject line <span style="font-style:italic">“GRA Application to Cosine Lab.”</span> and include your CV, transcripts, and a brief summary of your research interests and experience. For detailed requirements, please refer to the <a href="/cosinelab.org/files/PhD_Recuit_Cosine_Lab_CSU.pdf" target="_blank" rel="noopener"><span style="text-decoration:underline; font-style:italic">Call_For_Application</span></a>. We’re excited to welcome new Cosiners to our team!
    </p>

    <p>
        <strong>
            Undergrad and MS students:
        </strong> 
        If COSINE research topics excite you, don’t hesitate to reach out at <a href="mailto:yinshuang.xiao@colostate.edu"><span style="color:#0055aa; text-decoration:underline">Yinshuang.Xiao@colostate.edu</span></a> with the subject line <span style="font-style:italic">“Perspective Undergrad / MS to Cosine Lab.”</span> I’m always happy to chat about research opportunities, collaborations, or just share more about our work.
    </p>

        
  </div>
