<div class="widget widget-cfa">
    <h3>Openings</h3>
    <p>
        <strong>
            GRA Positions:
        </strong> 
        Thank you for your interest in the COSINE Lab! Currently, we do not have any fully funded GRA positions available. However, our group is growing, and we will reopen applications as soon as new funding becomes available. Please check back in the future!
    </p>

        <p>
        <strong>
            Ph.D. Students:
        </strong> 
        We are always looking for passionate minds to join us! If you are excited about complex systems, network science, or data-driven design, I would love to hear from you. Please feel free to reach out to me at 
        <a href="mailto:yinshuang.xiao@colostate.edu"><span style="color:#0055aa; text-decoration:underline">Yinshuang.Xiao@colostate.edu</span></a> 
        with the subject line <span style="font-style:italic">“Prospective Ph.D. Student to COSINE Lab”</span> and include your CV, transcripts, and a brief summary of your research interests. We’re excited to welcome new Cosiners to our team!
    </p>

    <p>
        <strong>
            Undergrad and MS students:
        </strong> 
        If COSINE research topics excite you, don’t hesitate to reach out at <a href="mailto:yinshuang.xiao@colostate.edu"><span style="color:#0055aa; text-decoration:underline">Yinshuang.Xiao@colostate.edu</span></a> with the subject line <span style="font-style:italic">“Perspective Undergrad / MS to Cosine Lab.”</span> I’m always happy to chat about research opportunities, collaborations, or just share more about our work.
    </p>

        
  </div>
