<div class="widget widget-contact">
    <p>
      Email: <a href="mailto:yinshuang.xiao@colostate.edu">yinshuang.xiao@colostate.edu</a><br>
      <a href="https://www.google.com/maps/place/Academic+Village+Engineering/@40.5713477,-105.0937904,17z/data=!3m1!4b1!4m6!3m5!1s0x87694a4e19306b31:0x1fd2fb7517869f2f!8m2!3d40.5713477!4d-105.0912155!16s%2Fg%2F11cn74z65x?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener">
        6029 Campus Delivery, Fort Collins, CO 80523-6029 
      </a>
    </p>
  </div>
  