<div class="widget widget-news">
    <h3>News</h3>
    <div class="news-container" style="max-height:150px; overflow-y:auto; border:1px solid red;">
      {{/* we hard‐code the month/year format here */}}
      {{ $fmt := "01/2006" }}
  
      {{ range first .Site.Params.widgets.recent_num (where .Site.RegularPages "Section" "news") }}
        <div class="news-post">
          <span class="news-date">[{{ .Date.Format $fmt }}]</span>
          <a href="{{ .Permalink }}" class="news-link">{{ .Title }}</a>
        </div>
      {{ end }}
    </div>
  </div>
  